.account {
  &.is-register {
    .account__bg-image {
      background-image: url('../images/cuenta/bg-registro.jpg');
    }
  }

  &.is-login {
    .account__bg-image {
      background-image: url('../images/cuenta/bg-iniciar-sesion.jpg');
    }
  }

  &.is-reset {
    .account__bg-image {
      background-image: url('../images/cuenta/bg-recuperar-clave.jpg');
    }
  }

  &__main {
    min-height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;

    &-wrap {
      padding-top: 45px;
      padding-bottom: 45px;
      width: 600px;
      max-width: 100%;
    }

    @include mq('tablet-wide') {
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  &__logo {
    margin-bottom: 40px;

    a {
      display: flex;
      justify-content: center;

      svg {
        width: 172px;
        height: 34px;
        fill: $brown-light;
      }
    }
  }

  &__message {
    text-align: center;
  }

  &__options {
    display: flex;
    justify-content: space-between;
    margin: 32px 0 35px;

    > a {
      font-family: $font-secondary;
      font-size: 20px;
      font-weight: normal;
      line-height: 1;
      color: $gray;
      display: inline-block;
      border-bottom: 1px solid $transparent;

      &.is-active {
        border-color: $gray;
        pointer-events: none;
      }
    }
  }

  &__form {
    > p {
      font-size: 18px;
      font-weight: normal;
      line-height: 1.45;
      color: $gray-dark;
    }
  }

  &__register-options {
    h5 {
      font-size: 18px;
      font-weight: normal;
      text-align: center;
      margin: 60px 0 40px;
    }
  }

  &__register-option {
    + .account__register-option {
      margin-top: 15px;
    }

    &.google {
      a {
        background-image: url('../images/icons/google.png');
        background-color: #F14336;

        &:hover {
          background-color: lighten(#F14336, 5%);
        }
      }
    }
    
    &.facebook {
      a {
        background-image: url('../images/icons/facebook-square.png');
        background-color: #475993;

        &:hover {
          background-color: lighten(#475993, 5%);
        }
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 55px;
      color: $white;
      padding: 10px 15px;
      border-radius: 6px;
      width: 375px;
      max-width: 100%;
      box-shadow: 0 3px 7px rgba($black, .17);
      background-repeat: no-repeat;
      background-position: left 32px center;
      background-size: 21px 21px;
      @extend %center-block;
    }

  }

  &__call-reset {
    margin: 25px 0 20px;

    a {
      font-weight: 300;
      font-size: 18px;
      color: $gray;
      display: inline-block;
      border-bottom: 1px solid $transparent;

      &:hover {
        border-color: $gray;
      }
    }
  }

  &__bg {
    position: fixed;
    right: 0;
    height: 100vh;
  
    &-image {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 100%;
      transition: background-image 250ms ease;
    }
  }

  @include mq('tablet', max) {
    &__main {
      &-wrap {
        padding-top: 35px;
      }
    }
    
    &__logo {
      margin-bottom: 25px;

      a {
        svg {
          width: 130px;
          height: 25px;
        }
      }
    }

    &__message {
      h5 {
        font-size: 18px;
      }
    }

    &__options {
      margin: 25px 0 25px;

      > a {
        font-size: 15px;
      }
    }

    &__form {
      > p {
        font-size: 14px;
      }
    }

    &__register-options {
      h5 {
        font-size: 14px;
        margin: 30px 0 25px;
      }
    }

    &__register-option {
      a {
        font-size: 14px;
        height: 42px;
        background-position: left 20px center;
        background-size: 18px 18px;
      }
    }

    &__call-reset {
      margin: 20px 0 35px !important;

      a {
        font-weight: normal;
        font-size: 14px;
      }
    }
  }
}

