.function {
  &__list {
    margin-top: -25px;
  }

  &__carousel {
    margin-bottom: 32px;
  }

  @include mq('tablet', max) {
    .section-header {
      display: none;
    }

    &__carousel {
      margin-bottom: 0;

      .card-simple {
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;

        &__image {
          order: 2;
        }

        &__title {
          display: none;
        }

        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 1.25;
          margin-bottom: 35px;
        }
      }
    }

    .text-black {
      display: block;
      color: $gray !important;
    }

    .link {
      padding: 4px 20px;
      margin-top: 15px;
    }

    .btn {
      display: block;
    }
  }
}