.not-found {
  background-color: $yellow;
  padding: 50px 0;
  height: 100vh;

  .section {
    padding: 0;
  }

  .subtitle {
    color: $white;
    padding: 50px 0;
  }

  img {
    width: 700px;
    @extend %center-block
  }

  .btn {
    border: 2px solid $white;
  }

  @include mq('tablet', max) {
    .btn {
      display: block;
    }
  }
}