.u-hidden-tablet {
	@include mq('tablet', max) {
		display: none !important;
	}
}

.u-visible-tablet {
	@include mq('tablet') {
		display: none !important;
	}
}

.u-visible-tablet-wide {
	@include mq('tablet-wide') {
		display: none !important;
	}
}

.u-hidden-tablet-wide {
	@include mq('tablet-wide', max) {
		display: none !important;
	}
}

.u-visible-desktop {
	@include mq('desktop') {
		display: none !important;
	}
}

.u-hidden-desktop {
	@include mq('desktop', max) {
		display: none !important;
	}
}

.u-inline {
	display: inline-block;
	vertical-align: middle;
}

.u-list-inline {
	font-size: 0;

	li {
		font-size: initial;
		display: inline-block;
		vertical-align: middle;
	}
}

.u-block {
	display: block;
}

.u-text-left {
	text-align: left !important;
}

.u-text-right {
	text-align: right !important;
}

.u-text-center {
	text-align: center !important;
}

.u-text-justify {
	text-align: justify !important;
} 

.u-padding--lv0 {
	padding: 0 !important;
}

.u-padding-left-lg--lv0 {
	@media (min-width: 1200px) {
		padding-left: 0 !important;
	}
}
.u-pb-to-sm--lv4 {
	@include mq('tablet', max) {
		padding-bottom: 24px !important;
	}
}

.u-pb-xs--lv0 {
	@include mq('phablet', max) {
		padding-bottom: 0 !important;
	}
}

.u-pl-lg--lv9 {
	@media (min-width: 1200px) {
		padding-left: 56px !important;
	}
}

.u-padding-left-lg--lv8 {
	@media (min-width: 1200px) {
		padding-left: 48px !important;
	}	
}

.u-padding-left-lg--lv10 {
	@media (min-width: 1200px) {
		padding-left: 60px !important;
	}	
}

.u-padding-right-lg--lv8 {
	@media (min-width: 1200px) {
		padding-right: 48px !important;
	}
}

.u-padding-right-lg--lv10 {
	@media (min-width: 1200px) {
		padding-right: 60px !important;
	}	
}
.u-mtb--lv5 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.u-padding-top--lv8 {
	padding-top: 48px;
}

.u-pb-md--lv10 {
	padding-bottom: 60px;
}

.u-pt--lv0 {
	padding-top: 0 !important;
}

.u-mt--lv1 {
	margin-top: 6px;
}
.u-mt--lv2 {
	margin-top: 12px;
}
.u-mt--lv3 {
	margin-top: 18px;
}
.u-mb--lv0 {
	margin-bottom: 0 !important;
}
.u-mb--lv5 {
	margin-bottom: 30px;
}


.u-pl-md--lv7 {
	@include mq('tablet-wide') {
		padding-left: 42px !important;
	}
}

.u-pr-md--lv7 {
	@include mq('tablet-wide') {
		padding-right: 42px !important;
	}
}

.u-highlight-text {
	font-size: 24px;
	text-align: justify;
	margin-bottom: 1.75em;
	line-height: 1.15;

	@include mq('desktop', max) {
		font-size: 21px;
	}

	@include mq('desktop', max) {
		font-size: 19px;
	}
}

.u-flex {
	display: flex;
	align-items: center;
}

.u-full-height {
	height: 100%;
	position: relative;
}

.u-not-border {
	border: 0 !important;
}