.btn {
	//color: $white;
	//background-color: $yellow;
	padding: .9em 8em;
	font-size: 16px;
	font-family: $font-secondary;
	border-radius: 30px;
	text-align: center;
	max-width: 100%;
	@extend %btn;

	&--primary {
		@include button-variant($white, $yellow);
	}

	&--secondary {
		@include button-variant($white, #AF987D);
	}

	&--block {
		display: block;
		width: 100%;
	}

	&.is-disabled {
		pointer-events: none;
		opacity: .35;
	}

	@include mq('tablet', max) {
		padding: .8em 1em;
	}
}