.wizard {
  padding-bottom: 110px;

  @include mq('tablet', max) {
    padding-bottom: 35px;

    .subtitle-xs * {
      font-size: 18px;
    }
  
    .text-line {
      margin-bottom: 25px;
      p {
        font-size: 14px;
      }
    }
  }

  > .steps {
    background-color: $brown-extralight;
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    ul {
      display: flex;
      align-items: center;
    }
    .current-info,
    .number {
      display: none;
    }

    li {
      &.disabled  {
        opacity: .5;
      }
    }

    a {
      font-family: $font-secondary;
      color: $yellow-dark;
      font-size: 20px;
      display: flex;
      align-items: center;
      padding: 0 15px;
      z-index: 1;

      .icon {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $yellow-dark;
        border: 5px solid lighten($yellow-dark, 35%);
        margin-right: 10px;
        
        svg {
          width: 28px;
          height: 28px;
        }
      }
    }

    @include mq('tablet-wide', max) {
      a {
        font-size: 17px;

        .icon {
          width: 55px;
          height: 55px;
        }
      }
    }

    @include mq('tablet', max) {
      background-color: $transparent;

      ul {
        li {
          position: relative;
          width: 25%;
          z-index: 1;

          &:first-of-type {
            &::before {
              width: 0;
              height: 0;
            }
          }

          &:last-of-type {
            &::after {
              width: 0;
              height: 0;
            }
          }

          &::before,
          &::after {
            content: '';
            width: 50%;
            height: 3px;
            background-color: #F2D78B;
            position: absolute;
            top: calc(50% - 10px);
            transform: translateY(-50%);
            z-index: -1;
          }

          &::before {
            right: 50%;
          }

          &::after {
            left: 50%;
          }
        }
      }

      a {
        flex-direction: column;
        align-items: center;

        .icon {
          width: 50px;
          height: 50px;
          margin-right: 0;
          margin-bottom: 5px;

          svg {
            width: 22px;
            height: 22px;
          }
        }

        .text {
          font-family: $font-main;
          font-size: 12px;
          font-weight: 300;
        }
      }
   }
 }

 > .content {
   padding-top: calc(88px + 80px);

   > .title {
     position: absolute;
     left: -9999px;
   }

   section {
     padding-bottom: 65px;
   }

   @include mq('tablet-wide', max) {
     padding-top: 120px !important;
   }

   @include mq('tablet', max) {
    section {
      padding-bottom: 30px;
    }
  }
 }

 > .actions {
   ul {
     display: flex;
     justify-content: space-between;

     a {
      font-family: $font-secondary;
      font-size: 16px;
      padding: .8em 1.25em;
      border-radius: 30px;
      width: 202px;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      @include button-variant($white, $yellow);

      &::before {
        content: '';
        background-image: url('../images/icons/arrow-button.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        display: block;
        width: 12px;
        height: 19px;
        @include center-elm(false, true);
      }

      &[href="#previous"] {
        &::before {
          left: 18px;
        }
      }

      &[href="#next"],
      &[href="#finish"] {
        &::before {
          right: 18px;
          transform: rotate(180deg);
          top: 13px;
        }
      }
     }
   }

   @include mq('phablet', max) {
     border-radius: 6px;
     border: 1px solid $yellow;

     ul {
       a,
       a:hover {
         font-size: 17px;
         background-color: $transparent;
         color: $yellow;
         width: initial;
         padding: .65em 1.4em;

         &::before {
          background-image: url('../images/icons/arrow-select.png');
          width: 12px;
          height: 19px;
        }

        &[href="#previous"] {
          &::before {
            transform: rotate(90deg) translate(-10px);
            left: 8px;
          }
        }

        &[href="#next"],
        &[href="#finish"] {
          &::before {
            transform: rotate(-90deg) translate(10px);
            right: 8px;
            top: 50%;
          }
        }
       }
     }
   }
 }
}

.delivery-flavors {
  &.is-empty {
    .delivery-flavors__feedback {
      display: block;
    }
  }

  &__feedback {
    display: none;
  }

  &__carousel {
    .owl-carousel {
      .owl-nav {
        .owl-prev,
        .owl-next {
          position: absolute;
          top: calc(50%);
          transform: translateY(-50%);
          display: flex;

          svg {
            width: 46px;
            height: 46px;
            fill: $yellow;
          }
        }

        .owl-prev {
          left: 0;
        }

        .owl-next {
          right: 0;
        }
      }
    }
  }
}

.delivery-flavor {
  text-align: center;
  padding: 0 45px;

  &__image {
    margin-bottom: 40px;

    img {
      width: 300px !important;
      @extend %center-block;
    }
  }

  &__title {
    h3 {
      text-transform: capitalize;
    }
  }

  &__content {
    p {
      font-size: 16px;
      font-weight: normal;
      color: #858585;
    }
  }

  &__cta {
    margin-top: 52px;

    .btn {
      padding: 1.1em 1em;
    }
  }
}

/* Filtes => Step 3 */
.delivery-filters {
  background-color: $brown-extralight;
  padding: 0 30px;
  text-align: center;

  @include mq('tablet-wide', max) {
    padding: 0 20px;
  }

  @include mq('tablet', max) {
    padding: 0;
    background-color: $transparent;
  }
}

.suscription-time-featured {
  padding-bottom: 40px;

  p {
    width: 400px;
    max-width: 100%;
    color: $gray-light;
    margin-bottom: 2em;
    @extend %center-block;
  }

  @include mq('tablet-wide', max) {
    p {
      font-size: 14px;
    }
  }
}

.filter-by-flavors {
  padding-top: 60px;
  padding-bottom: 15px;

  .subtitle-xs * {
    margin-bottom: .25em;
  }

  .feedback {
    font-size: 18px;
    font-weight: normal;
    color: $brown-light;
  }

  .checkbox-group {
    margin-top: 30px;
  }

  @include mq('tablet-wide', max) {
    padding-top: 35px;

    .checkbox-group {
      &--circle {
        .checkbox {
          > label {
            width: 85px;
            height: 85px;
          }
        }
      }
    }

    .subtitle-xs * {
      font-size: 20px;
    }

    .feedback {
      font-size: 15px;
    }
  }

  @include mq('tablet', max) {
    padding-top: 0;

    .checkbox-group {
      &--circle {
        .checkbox {
          > label {
            border-radius: 0;
          }

          &__text {
            p {
              font-family: $font-secondary;
              margin-top: .5em;
            }
          }
        }
      }
    }

    .subtitle-xs * {
      font-size: 18px;
    }

    .feedback {
      font-size: 14px;
      color: $gray-light;
    }
  }
}


.filter-by-time {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: $brown-extralight;

  .subtitle-xs * {
    color: #858585;
    margin-bottom: 1.1em;
  }

  .feedback {
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    color: $gray;
  }

  @include mq('tablet-wide', max) {
    .radio-group {
      margin-bottom: 20px;

      &--check {
        .radio {
          padding: 10px 10px 18px;
        }
      }
    }
  }

  @include mq('tablet', max) {
    background-color: $transparent;

    .radio-group {
      &--check {
        width: calc(100% + 30px);
        margin-left: -15px;

        .radio {
          > label {
            border: 0;
            border-radius: 5px;
            box-shadow: 0 0 15px rgba($black, .1);
          }
        }
      }
    }

    .feedback {
      text-align: center;
    }
  }
}

.delivery-data {
  text-align: left;

  .field-wrapper {
    margin-bottom: 25px !important;

    > label {
      font-family: $font-secondary;
      font-weight: normal;
      font-size: 24px;
      display: block;
      line-height: 1.25;
      margin-bottom: 1.25em;
    }

    input {
      text-align: left !important;
    }
  }

  @include mq('tablet-wide', max) {
    .field-wrapper {
      > label {
        font-size: 20px;
      }
    }
  }

  @include mq('tablet', max) {
    .field-wrapper {
      > label {
        font-size: 16px;
      }
    }
  }
}


.field-wrapper {
  &.filter-female {
    display: none;
  }

  &.email-custom-recipe {
    display: none;
  }
}


/* Size Pets */
.size-dog {
  margin-top: 32px;
  margin-bottom: 20px;

  &__result {
    margin-bottom: 32px;

    h5 {
      font-family: $font-secondary;
      font-weight: normal;
      font-size: 24px;
      color: $brown-light;
    }

    span {
      font-size: 18px;
      font-weight: 300;
      color: $brown-light;
      display: block;
      margin-bottom: 0.35em;
    }

    figure {
      margin-top: 10px;

      img {
        // width: 280px;
        height: 250px;
        @extend %center-block;
      }
    }
  }

  &__slider {
    position: relative;

    .noUi-horizontal {
      height: 6px;

      .noUi-handle {
        top: -16px;
      }
    }

    .noUi-target {
      background-color: $yellow;
      border: 0;
      box-shadow: none;
      border-radius: 0;
    }

    .noUi-handle {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      outline: 0;
      box-shadow: none;
      background-color: $yellow;
      border: 0;
      cursor: pointer;
      box-shadow: 0 0 10px rgba($black, .2);
      -webkit-tap-highlight-color: $transparent;


      &::before,
      &::after {
        width: 0;
        height: 0;
      }
    }

    .noUi-marker-horizontal {
      &.noUi-marker-large {
        width: 0;
        height: 0; 
      }
    }

    .noUi-value {
      font-size: 16px;
      font-weight: 300;
      color: $brown-light;
    }
  }

  &__less,
  &__higher {
    position: absolute;
    bottom: 14px;

    img {
      height: 170px;
      filter: sepia(1);
      opacity: .75;
    }
  }

  &__less {
    left: -5px;
  }

  &__higher {
    right: -5px;
  }

  @include mq('tablet', max) {
    margin-bottom: 60px;

    &__result {
      figure {
        img {
          height: 130px;
        }
      }
    }

    &__slider {
      .noUi-horizontal {
        height: 2px;

        .noUi-handle {
          top: -12px;
        }
      }

      .noUi-handle {
        width: 25px;
        height: 25px;
      }

      .noUi-pips-horizontal {
        padding: 0;
      }

      .noUi-value {
        font-size: 11px;

        &:nth-of-type(2) {
          padding-left: 25px;
        }

        &:nth-of-type(4) {
          padding-right: 25px;
        }
      }
    }

    &__less,
    &__higher {
      img {
        height: 60px;
      }
    }
  }
}


/* Order styles */
.order-detail {
  background-color: $brown-extralight;

  &__head {
    padding: 25px 30px 0;

    .subtitle-xs {
      h4 {
        line-height: 1;
        margin: 0;
        color: $gray-light;
      }
    }
  }

  &__footer {
    padding-bottom: 50px;
  }

  &__row {
    color: $gray-light;
    padding: 15px 30px 20px;
    border-top: 1px solid #CBCBCB;

    .feedback {
      font-size: 14px;
      font-weight: normal;
      color: $brown-light;
    }
    
    dl {
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
      margin: 0;
      padding: 0;

      dt {
        letter-spacing: 0.75px;
        width: 55%;
        font-weight: bold;
        margin-bottom: 20px;
      }

      dd {
        letter-spacing: 0.75px;
        font-weight: bold;
        width: 45%;
        text-align: right;
        margin: 0;
        padding: 0;
        
        > small {
          font-size: 12px;

          &.old {
            text-decoration: line-through;
          }
        }

        > span {
          display: block;
        }
      }
    }

    .checkbox-terms {
      width: 190px;
      max-width: 100%;
      margin-bottom: 30px;
    
      > .icon {
        width: 20px;
        height: 20px;
        left: 0;
        top: 0;
        border-radius: 4px;
        border: 1px solid $yellow;
        display: block;
        flex: 0 0 auto;
        position: relative;
    
        &::after {
          content: '';
          background: url('../images/icons/check-checkbox.png') center/100% no-repeat;
          position: absolute;
          left: 5px;
          top: -1px;
          width: 17px;
          height: 12px;
          opacity: 0;
        }
      }
    
      > label {
        font-size: 12px;
        line-height: 1.175;
        color: $yellow;
        position: relative;
        padding-left: 12px;
        cursor: pointer;
    
        > a {
          color: $yellow;
          text-decoration: underline;
          display: block;
        }
      }
    
      [type="checkbox"]:checked ~ .icon {
        &::after {
          opacity: 1;
        }
      }
    }

    .fields {
      width: 345px;
      max-width: 100%;
      @extend %center-block;

      input {
        font-family: $font-secondary;
        font-size: 18px;
        padding: 6px 12px;
        text-align: center;
        width: 100%;
        height: 40px;
        border-radius: 6px;
        color: $brown-light;
        background-color: $transparent;
        border: 1px solid $brown-light;
        margin-bottom: 20px;
        @include input-placeholder { color:$brown-light; }
      }

      .btn {
        padding: .9em 1em;
      }
    }
  }

  @include mq('tablet-wide', max) {
    &__head {
      padding: 25px 20px 0;
    }

    &__row {
      padding: 15px 20px 20px;
    }
  }

  @include mq('tablet', max) {
    &__head {
      padding: 25px 15px 0;
    }

    &__row {
      padding: 15px 15px 20px;

      .checkbox-terms {
        margin-bottom: 15px;
      }

      .fields {
        input {
          font-size: 16px;
        }
      }
    }

    &__footer {
      padding-bottom: 10px;
    }
  }
}

.order-item {
  &__head {
    border-bottom: 1px solid #CBCBCB;
    padding: 14px 30px;

    h4 {
      font-size: 16px;
      font-weight: bold;
      color: $yellow;
    }
  }

  &__body {
    padding: 8px 30px 20px;
  }

  &__text {
    display: flex;
    align-items: flex-start;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 25px;

    > div {
      padding-left: 20px;
      padding-right: 20px;
    }

    &-desc {
      color: $gray-light;

      h5 {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: .5em;
        letter-spacing: 0.5px;
      }
  
      p {
        font-weight: 500;
        font-size: 11px;
        margin-bottom: 0.75em;
        line-height: 1.35;
      }
    }

    &-amount {
      font-size: 14px;
      font-weight: bold;
      flex: 0 0 auto;
    }
  }

  &__action {
    display: inline-flex;

    a,
    span {
      + a,
      + span {
        margin-left: 50px;
      }
    }
  }

  @include mq('tablet-wide', max) {
    &__head {
      padding: 14px 15px;
    }

    &__body {
      padding: 8px 15px 20px;
    }

    &__text {
      margin-bottom: 15px;
    }
  }
}

.order-action {
  margin: 5px 0 40px;
}