.dog-new-modal {
  background: $white url('../images/bg-header-links.png') center/320px 640px repeat;
  max-width: 950px;
  padding: 125px 15px;
  @extend %center-block;

  &__wrap {
    width: 440px;
    max-width: 100%;
    margin-top: 0 !important;
    @extend %center-block;

    input {
      font-size: 16px !important;
      background-color: $transparent;
    }
  }

  &__action {
    width: 305px;
    max-width: 100%;
    text-align: center;
    @extend %center-block;

    p {
      font-size: 18px;
      font-weight: normal;
      line-height: 1.15;
      color: $gray;
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;

      .btn {
        padding: .9em 3.75em;
      }
    }
  }

  @include mq('tablet', max) {
    &__action {
      p {
        font-size: 15px;
      }

      &-buttons {
        margin-top: 30px;
      }
    }
  }
}