.field-group {
	margin-top: 50px;

	&:first-of-type {
		margin-top: 0;
	}

	label {
		font-family: $font-secondary;
    font-weight: normal;
    font-size: 24px;
    display: block;
    line-height: 1.25;
    margin-bottom: 1.1em;
	}

	@include mq('tablet-wide', max) {
		label {
			font-size: 20px;
		}		
	} 

	@include mq('tablet', max) {
		label {
			font-size: 16px;
			text-transform: uppercase;
			text-align: center;
		}		
	}
}

.field-wrapper {
	margin-bottom: 15px;
	position: relative;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
	// overflow: hidden;

	&.subscribe {
		height: 48px;
	}

	> .input {
		position: relative;

		input {
			border: 0;
			height: 100%;
			width: 100%;
			padding: .5em 1.25em;
			position: relative;
			padding-right: 110px;
			color: $gray;
			@include input-placeholder { color: #C9B6A0; }

			&:disabled {
				cursor: default;
				user-select: none;
			}
		}
	}

	> input {
		border: 0;
		height: 100%;
		width: 100%;
		padding: .5em 1.25em;
		position: relative;
		padding-right: 110px;
		color: $gray;
		@include input-placeholder { color: #C9B6A0; }

		&.input-full {
			background-color: $white;
			@include input-placeholder { color: $gray; }
		}

		+ .button {
			font-weight: bold;
			color: $white;
			text-transform: uppercase;
			background-color: $yellow-dark;
			height: 100%;
			padding: .5em 1.25em;
			position: absolute;
			top: 0;
			right: 0;

			&:hover,
			&:focus {
				background-color: lighten($yellow-dark, 10%);
			}
		}
	}

	.dropdown-menu {
		// position: absolute;
		// display: block;
		z-index: 1;

		// &.top {
		// 	bottom: 100%;
		// }
	}
	.bootstrap-datetimepicker-widget {
		.datepicker,
		.timepicker {
			padding: 14px 0;
			border-radius: 3px;
			background-color: $white;
			box-shadow: 0 0 4px 1px rgba($black, .2);
		}

		table {
			thead {
				tr {
					&:nth-of-type(1) {
						th {
							padding: 6px 0;
						}
					}

					th {
						text-transform: capitalize;
					}
				}
			}

			td {
				border-radius: 3px;
				text-shadow: none !important;
				&.day {
					font-size: 14px;
					padding: 10px 5px;
				}

				&.active {
					background-color: $yellow-dark;
					color: $white;
				}

				&.disabled,
				&.disabled:hover {
					cursor: default;
					opacity: .25;
				}

				&.today {
					// background-color: $transparent;
					// text-shadow: none;
					// color: $gray;

					&::before {
						border-width: 0;
					}
				}

				&.new,
				&.old {
					opacity: 0;
					pointer-events: none;
				}

				.btn-primary {
					background-color: $yellow;
					color: $white;
					border-radius: 0;
				}
			}
		}
	}
}

/* General form */
.form {
	margin-top: 85px;

	.field-wrapper {
		margin-bottom: 28px;
		max-width: 100%;
		@extend %center-block;

		input {
			height: 34px;
			padding: 7px 0;
			border-bottom: 1px solid #D6C9BB;
			transition: all 200ms ease;
			@include input-placeholder { color: rgba(#858585, .45); }

			&:focus {
				border-color: darken(#D6C9BB, 20%);
			}
		}

		&--highlight {
			text-align: center;

			> label {
				font-family: $font-secondary;
				font-weight: normal;
				font-size: 24px;
				display: inline-block;
				line-height: 1.45;
				margin-bottom: 1.25em;

				+ .feedback {
					margin-top: -25px;
				}

				+ .note {
					font-size: 14px;
					color: $brown-light;
					margin-top: -25px;
					margin-bottom: 1.25em;
				}
			}

			> input {
				font-size: 20px;
				text-align: center;
				border-width: 2px;
				height: auto;
			}
		}

		&--simple {
			position: relative;

			input {
				&.fill {
					border: 0;
					padding: 1em;
					height: initial;
					background-color: $brown-extralight;
				}
			}

			> .input {
				input {
					&.fill {
						border: 0;
						padding: 1em;
						height: initial;
						background-color: $brown-extralight;
					}
				}
			}

			// &.date-hour {
			// 	> input {
			// 		height: 60px;
			// 		background-color: $brown-extralight;
			// 		border: 0;
			// 		padding: .75em 2.5em .75em 1em;
			// 	}

			// 	> .icon {
			// 		position: absolute;
			// 		right: 15px;
			// 		top: 55px;
			// 		// bottom: 18px;
			// 		display: flex;

			// 		svg {
			// 			width: 26px;
			// 			height: 26px;
			// 			fill: $brown-light;
			// 		}
			// 	}
			// }

			> label {
				font-family: $font-main;
				font-weight: 500;
				font-size: 18px;
				margin-bottom: 1em;
				display: block;
			}
		}

		&.name-dog,
		&.email-custom-recipe {
			width: 445px;
		}

		&.filter-female {
			width: 575px;
		}

		.feedback {
			font-size: 16px;
			color: #858585;
			display: block;
		}

		.feedback-small {
			font-size: 12px;
			font-weight: 300;
			font-style: italic;
			color: #858585;
		}
	}

	.field-action {
		margin-top: 70px;
		.btn {
			padding: 1.15em 8em;
		}
	}

	&--big {
		margin-top: 0 !important;

		.field-wrapper {
			margin-bottom: 75px;
		}
	}

	@include mq('tablet-wide', max) {
		.field-wrapper {
			&--simple {
				> label {
					font-size: 16px;
				}
			}
		}
	}

	@include mq('tablet', max) {
		margin-top: 30px;

		.field-wrapper {
			margin-bottom: 30px;

			&--highlight {
				> label {
					font-size: 18px;
				}
			}

			input {
				font-size: 14px;
			}

			&--simple {
				&.date-hour {
					> input {
						height: 42px;
					}

					> .icon {
						bottom: 12px;

						svg {
							width: 18px;
							height: 18px;
						}
					}
				}

				> label {
					font-size: 14px;
					text-align: left;
				}
			}
		}

		.field-action {
			margin-top: 34px;

			.btn {
				padding: .8em 1em;
			}
		}
	}
}


/* Radio custom */
[type="radio"] {
	&:not(:checked),
	&:checked {
		position: absolute;
		left: -9999px;
	}

	&:checked ~ label {
		&::after {
			opacity: 1;
		}
	}
}

.radio-group {
	display: flex;
	align-items: center;

	.radio {
		max-width: 100%;

		> label {
			cursor: pointer;
			display: block;
			position: relative;
		}
	}

	&--square {
		justify-content: center;
		margin-left: -10px;
		margin-right: -10px;

		&.border {
			margin-left: -7px;
			margin-right: -7px;

			.radio {
				flex: 1 1 auto;
				min-width: initial;
				padding-left: 7px;
				padding-right: 7px;				

				> label {
					font-family: $font-main;
					font-size: 15px;
					font-weight: normal;
					height: 50px;
					border-width: 2px;
				}

				[type="radio"]:checked ~ label {
					background-color: $transparent;
					border-color: $yellow;
					color: $yellow;
				}
			}
		}

		.radio {
			min-width: 115px;
			padding-left: 10px;
			padding-right: 10px;

			> label {
				font-size: 14px;
				font-weight: 300;
				padding: 5px;
				color: #5F5D59;
				height: 45px;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid $brown-light;
			}

			[type="radio"]:checked ~ label {
				background-color: $yellow;
				border-color: $yellow;
				color: $white;
			}
		}
	}

	&--featured {		
		.radio {
			@extend %center-block;
			max-width: 100%;

			> label {
				font-size: 17px;
				font-weight: 500;
				height: 45px;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: .7em 2.25em;
				letter-spacing: 1px;
				border: 1px solid $yellow-dark;
				border-radius: 8px;
			}

			[type="radio"]:checked ~ label {
				background-color: $yellow;
				border-color: $yellow;
				color: $white;
			}
		}
	}

	&--full {
		flex-direction: column;
		&.row {
			flex-direction: row;

			.radio {
				margin-top: 0 !important;
			}
		}

		.radio {
			width: 100%;
			text-align: left;

			+ .radio {
				margin-top: 30px;
			}

			&--small {
				> label {
					padding: 16px 30px !important;
				}
				.radio {
					&__content {
						display: flex;
						align-items: center;
					}

					&__image {
						margin-right: 12px;
						img {
							width: 37px;
						}
					}

					&__text {
						font-size: 14px;
					}
				}
			}

			> label {
				font-family: $font-main;
				padding: 34px 30px;
				background-color: $brown-extralight;
			}

			&__text {
				h6 {
					font-size: 16px;
					font-weight: normal;
					color: $black;
					margin-bottom: 1px;
				}
				p {
					font-weight: normal;
					color: #858585;
				}
			}
			
			&__icon {
				width: 20px;
				height: 20px;
				border-radius: 50%;
				border: 2px solid $brown-light;
				position: absolute;
				right: 30px;
				cursor: pointer;
				@include center-elm(false, true);

				&::before {
					content: '';
					width: 11px;
					height: 11px;
					border-radius: inherit;
					background-color: $yellow;
					display: block;
					transition: all 200ms ease;
					opacity: 0;
					@include center-elm(true, true);
				}
			}

			[type="radio"]:checked ~ label {
				.radio__icon {
					border-color: $yellow;

					&::before {
						opacity: 1;
						border-color: $yellow;
					}
				}
			}
		}
	}

	&--check {
		.radio {
			&.column {
				> label {
					padding: 18px 14px 22px;
				}

				.radio__text {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-left: -10px;
					margin-right: -10px;
					flex-wrap: wrap;

					.title {
						text-align: left;
						margin-bottom: 0;
						padding-left: 10px;
						padding-right: 10px;
						width: 50%;
					}

					.price {
						text-align: right;
						padding-left: 10px;
						padding-right: 10px;
						width: 50%;

						li {
							flex-direction: column;
							align-items: flex-end;
							margin: 0;

							> span {
								padding: 0;
							}
						}
					}
				}
			}

			> label {
				padding: 22px 20px 32px;
				border: 1px solid $yellow;
			}

			&__icon {
				width: 34px;
				height: 34px;
				border-radius: 50%;
				bottom: -17px;
				border: 1px solid #e0e0e0;
				background-color: $white;
				transition: all 200ms ease;
				cursor: pointer;
				@include center-elm(true, false);

				span {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;

					svg {
						width: 15px;
						height: 15px;
						fill: #e0e0e0;
					}
				}
			}

			&__text {
				.title {
					font-size: 18px;
					font-weight: 500;
					color: #4C4A47;
					display: block;
					margin-bottom: 1.25em;
				}

				.flavors-chosen {
					font-size: 12px;
					letter-spacing: 1px;
					color: $brown-light;
					display: block;
					margin-bottom: 1.25em;
				}

				.price {
					li {
						display: flex;
						align-items: center;
						margin-left: -10px;
						margin-right: -10px;

						+ li {
							margin-top: 8px;
						}

						> span {
							padding-left: 10px;
							padding-right: 10px;
							
							&:nth-of-type(1) {
								font-size: 16px;
								font-weight: 500;
								color: #4C4A47;
							}

							&:nth-of-type(2) {
								font-size: 12px;
								letter-spacing: 0.5px;
								color: $brown-light;
							}
						}
					}
				}
			}

			[type="radio"]:checked ~ label {
				.radio {
					&__icon {
						background-color: $yellow;
						border-color: $yellow;

						span {
							svg {
								fill: $white;
							}
						}
					}
				}
			}
		}

		@include mq('tablet-wide') {
			flex-wrap: wrap;
			margin-left: -30px;
			margin-right: -30px;
			width: initial;

			.radio {
				width: 50%;
				padding-left: 30px;
				padding-right: 30px;
				margin-bottom: 45px;
			}
		}
	}

	@include mq('desktop', max) {
		&--full {
			.radio {
				&--small {
					> label {
						padding: 16px 12px !important;

						.radio__icon {
							right: 12px;
						}
					}
				}
			}
		}
	}

	@include mq('tablet', max) {
		&--square {
			&.border {
				margin-left: -5px;
				margin-right: -5px;

				.radio {
					padding-left: 5px;
					padding-right: 5px;

					> label {
						font-size: 12px;
						height: 30px;
						text-transform: initial;
					}
				}
			}
		}

		&--full {
			.radio {
				+ .radio {
					margin-top: 20px !important;
				}

				> label {
					padding: 22px 15px;
				}

				&__icon {
					right: 15px;
				}

				&__text {
					p {
						font-size: 14px;
					}
				}
			}
		}
	}
}


/* Checkbox custom */
[type="checkbox"] {
	&:not(:checked),
	&:checked {
		position: absolute;
		left: -9999px;
	}

	&:checked ~ label {
		&::after {
			opacity: 1;
		}
	}
}

.checkbox-group {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	max-width: 100%;
	@extend %center-block;

	.checkbox {
		max-width: 100%;

		> label {
			cursor: pointer;
			display: block;
			position: relative;
			transition: all 200ms ease;
		}
	}

	&--circle {
		width: 450px;
		justify-content: center;

		.checkbox {
			flex: 0 0 auto;
			padding: 0 5px;
			margin-bottom: 15px;

			> label {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				background-color: #DED3C7;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				position: relative;
			}

			&__content {
				@extend %center-block;
			}

			&__image {
				margin-bottom: 5px;

				img {
					width: 35px;
					@extend %center-block;
				}
			}

			&__text {
				p {
					font-size: 14px;
					font-weight: 500;
					color: $white;
					line-height: 1;
				}
			}

			[type="radio"]:checked ~ label {
				background-color: $yellow;
			}

			[type="radio"]:disabled ~ label {
				cursor: default;
				background-color: #DED3C7;
				opacity: .3;
				pointer-events: none;
			}

			&--rectangle {
				width: 100% !important;

				> label {
					font-size: 18px;
					font-weight: 500;
					color: $white;
					width: 100% !important;
					height: 45px !important;
					border-radius: 5px;
					margin-top: 20px;

					+ .feedback {
						font-size: 14px;
						color: $gray-light;
						margin-top: 12px;
					}
				}
			}
		}
	}
}


/* File upload */
.file-upload {
	&__preview {
		margin-bottom: 18px;

		figure {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			overflow: hidden;
			position: relative;
			box-shadow: 2px 2px 10px rgba($black, .15);
			@extend %center-block;

			img {
				max-width: 100%;
				max-height: 100%;
				width: auto;
				height: auto;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
			}
		}
	}

	&__field {
		label {
			padding: .55em 2.5em;
		}

		input[type="file"] {
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0,0,0,0);
			border: 0;
		}
	}

	~ .feedback {
		padding-top: 12px;
		
		p {
			font-size: 14px;
		}
	}
}

/* Select styles */
.select {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	background-color: $white;
	border-bottom: 1px solid $brown-light;
	background: $white url('../images/icons/arrow-select.png') right 2px center/14px 8px no-repeat;

	select {
		color: rgba(#858585, .45);
		padding: 7px 0;
		width: 100%;
		height: 34px;
		border: none;
		box-shadow: none;
		background-color: transparent;
		background-image: none;
		appearance: none;
	}

	+ .info {
		color: $brown-light;
		font-size: 12px;
		padding: 6px 0 0;
		display: none;
	}

	// @include mq('tablet', max) {
	// 	select {
	// 		font-size: 14px;
	// 		padding: 12px 12px;
	// 	}
	// }
}


/* Switch checkbox */
.switch {
	display: flex;
	align-items: center;

	&__element {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 14px;

		input[type="checkbox"] {
			display: none;
	
			&:checked + .switch__slider {
				background-color: $yellow;
	
				&::before {
					transform: translateX(22px);
				}
			}
		}
	}

	&__slider {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 8px;
		cursor: pointer;
		background-color: lighten($gray-light, 20%);
		transition: all 400ms ease;

		&::before {
			content: '';
			position: absolute;
			left: -3px;
			bottom: -5px;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background-color: $white;
			box-shadow: inset 0px 0px 5px 1px rgba($black, .15);
			transition: all 400ms ease;
		}
	}

	&__result {
		margin-left: 15px;
		font-size: 14px;
	}
}