.intro {
	// background-image: url('../images/bg-home.jpg');
	// background-repeat: no-repeat;
	// background-position: center bottom;
	// background-size: cover;
	position: relative;
	height: 100vh;

	&__carousel {
		height: 100%;

		.item {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			height: 100vh;
		}

		// @include mq('phablet', max) {
		// 	.owl-item {
		// 		.item {
		// 			background-image: url("../images/home/banner-m-1.jpg") !important;
		// 		}
		// 		&:nth-of-type(1) {
		// 			.item {
		// 				background-image: url("../images/home/banner-m-1.jpg") !important;
		// 			}
		// 		}

		// 		&:nth-of-type(2) {
		// 			.item {
		// 				background-image: url("../images/home/banner-m-1.jpg") !important;
		// 			}
		// 		}

		// 		&:nth-of-type(3) {
		// 			.item {
		// 				background-image: url("../images/home/banner-m-1.jpg") !important;
		// 			}
		// 		}
		// 	}
		// }
	}

	&__wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;

		.container {
			@include mq('desktop') {
				max-width: 1350px;
			}
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($black, .35);
		}
	}

	&__content {
		display: flex;
		align-items: flex-end;
	}

	&__text {
		width: 100%;
		height: 100%;
		padding: 90px 0 150px;
		// max-width: 100%;
		// position: absolute;
		// // top: 50%;
		// top: calc(50% - 50px);
		// left: 0;
		// // transform: translate(-50%, -50%);
		// padding-left: 15px;
		// padding-right: 15px;
		color: $white;

		.subtitle {
			text-align: left;
			height: 100%;
			display: flex;
			flex-direction: column;
			text-align: center;

			h1 {
				font-size: 55px;
				margin-bottom: .25em;
				text-shadow: 0 0 20px rgba($black, 1);
			}
		}

		p {
			font-size: 22px;
			font-weight: normal;
			text-shadow: 0 0 15px rgba($black, 1);
		}
	}

	&__action {
		width: 100%;
		position: absolute;

		&-links {
			position: relative;
    	top: 50px;
			margin-left: -15px;
			margin-right: -15px;
		}

		&-item {
			width: 345px;
			max-width: 100%;
			padding-left: 15px;
			padding-right: 15px;

			.btn {
				padding: .8em 1em;

				&:hover,
				&:focus {
					background-color: $white;
					color: $yellow-dark;
				}
			}
		}

		&-nav {
			padding-bottom: 20px;
		}

		&-button {
			display: inline-block;
			font-family: $font-secondary;

			.text {
				font-size: 20px;
				color: $white;
				display: block;
				width: 100%;
			}

			.icon {
				display: inline-flex;
				justify-content: center;
				cursor: pointer;
				animation-name: move-top-to-bottom;
			  animation-duration: 1s;
			  animation-delay: 0.6s;
			  animation-iteration-count: infinite;
				animation-direction: alternative;
				@extend %btn;

				&:hover {
					// animation-play-state: paused;
				}

				svg {
					width: 50px;
					height: 50px;
					fill: $yellow;
				}
			}
		}
	}

	@include mq('desktop', max) {
		&__action {
			&-button {
				.text {
					display: none;
				}

				.icon {
					width: 35px;
					height: 35px;
				}
			}
		}
	}

	@media (max-width: 992px) and (orientation: landscape) {
		&__text {
			.subtitle {
				h1 {
					margin-bottom: .75em;
				}
			}
			p {
				font-size: 20px;
			}
		}
	}

	@include mq('tablet', max) {
		&__text {
			top: 50%;
		}
		
		&__action {
			&-links {
				position: initial;
				top: auto;
				padding-bottom: 25px;
			}

			&-nav {
				display: none;
			}
		}
	}

	@include mq('phablet', max) {
		background-image: url('../images/bg-home-mobile.jpg');

		&__text {
			.subtitle {
				h1 {
					display: none;
				}

				p {
					font-family: $font-secondary;
					font-size: 22px;
					font-weight: normal;
					line-height: 1.4;
					text-transform: uppercase;
					color: $white;
					text-shadow: 1px 1px 2px rgba($black, .7)
				}
			}
		}

		&__action {
			&-links {
				flex-wrap: wrap;
				margin-bottom: 0;
				padding-bottom: 45px;
			}

			&-item {
				width: 100%;

				+ .intro__action-item {
					margin-top: 20px;
				}
			}

			&-nav {
				display: none;
			} 
		}
	}
}

@keyframes move-top-to-bottom {
	0% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(5%);
  }
}