.district-add {
  padding: 45px 150px;
  max-width: 700px;

  .form {
    .field-action {
      margin-top: 50px;

      .btn {
        padding: .9em 3.75em;
        margin: 0 15px;
      }
    }
  }
}

.modal-confirm {
  max-width: 550px;
  padding: 40px 25px;
  text-align: center;
  background: $white url("../images/bg-header-links.png") center/320px 640px repeat;
  @extend %center-block;

  .mfp-content & {
    display: block;
  }

  &__body {
    padding: 0 0 40px;
    
    h4 {
      font-family: $font-secondary;
      font-size: 24px;
      font-weight: normal;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;

    .btn {
      padding: .9em 3.75em;
      margin: 0 15px;
    }
  }
}


/* Order info
 * Pages: pedidos.html */
.order-info {
  max-width: 450px;

  &__head {
    padding: 30px 0 27px;
    text-align: center;
    border-bottom: 1px solid rgba($gray-light, .5);

    .subtitle-xs * {
      margin-bottom: 0;
    }
  }

  &__body {
    p,
    dl {
      font-size: 15px;
      font-weight: normal;
    }

    dl {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;

      dt {
        width: 150px;
        margin-bottom: 18px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      dd {
        margin: 0;
        text-align: right;
        width: calc(100% - 150px);
        margin-bottom: 18px;

        span {
          color: $gray-light;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  &__row {
    padding: 25px 20px;
    border-bottom: 1px solid rgba($gray-light, .5);

    &:last-of-type {
      border: 0;
    }
  }
}