/* News head */
.news__head {
	color: $white;
	padding-bottom: 25px;

	.news {
		&__title {
			font-family: $font-secondary;
			font-size: 35px;
			font-weight: normal;
			line-height: 1;
			margin-bottom: .15em;
		}

		&__date {
			font-size: 15px;
			display: block;
			margin-bottom: 1em;
		}
	}

	@include mq('tablet', max) {
		color: $gray;
		text-align: left;
		padding-bottom: 15px;

		.news {
			&__title {
				font-size: 22px;
			}

			&__date {
				font-size: 12px;
			}
		}
	}
}

.news {
	&__title {
		font-family: $font-secondary;
		font-size: 35px;
		font-weight: normal;
		margin-bottom: .75em;
	}

	&__subtitle {
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 1.5em;

		> span {
			font-weight: normal;
		}
	}

	&__content {
		p,
		ul,
		li,
		span {
			font-size: 16px;
			color: $gray;
			line-height: 1.65;
			text-align: left;
			text-align: justify;
		}
	}

	&__categories {
		a {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: $gray;
			padding: 14px 12px;

			span {
				display: flex;
				margin-right: 6px;

				svg {
					width: 15px;
					height: 15px;
				}
			}
		}
	}

	@include mq('tablet', max) {
		&__content {
			p,
			ul,
			li,
			span {
				font-size: 14px;
			}
		}
	}
}

.search-inner {
	.field-wrapper {
		height: 40px;
		margin-bottom: 30px;

		input {
			height: 100%;	
			border-radius: 20px;
			border: 1px solid $yellow;
			padding-right: 45px;
			font-size: 14px;
		}

		button {
			height: 100%;
			display: flex;
			justify-content: center;
			position: absolute;
			top: 0;
			right: 0;
			width: 45px;

			svg {
				width: 18px;
				height: 18px;
				fill: $brown-light;
			}
		}
	}
}


.news-thumb {
	&__wrapper {
		display: flex;
		text-align: left;
		color: $gray;
		text-decoration: none;
		padding: 14px 12px;
	}

	&__image {
		margin-right: 10px;

		img {
			width: 65px !important;
			height: 65px;
			min-width: 65px;
		}
	}

	&__title {
		font-size: 14px;
		font-weight: 300;
		color: $black;
	}

	&__date {
		font-size: 12px;
		font-weight: 300;
		color: $gray-light;
	}
}