.orders-current {
  &__head {
    margin-bottom: 25px;

    &.is-show-action {
      h5 {
        display: none;
      }

      button {
        display: flex;
      }
    }

    h5,
    button {
      font-family: $font-secondary;
      font-weight: normal;
      font-size: 18px;
    }

    button {
      display: none;
      color: $gray;
      border-bottom: 1px solid $gray-light;
      @extend %btn;

      svg {
        width: 18px;
        height: 18px;
        fill: $yellow;
        margin-left: 5px;
      }
    }
  }
}

.order-short {
  margin-bottom: 30px;

  &__box {
    background-color: $brown-extralight;
    padding: 22px 18px 22px 22px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    transition: all 200ms ease;
    cursor: pointer;
    text-decoration: none;
    color: $gray;

    &:hover {
      box-shadow: 0 0 10px 1px rgba($black, .1);
    }
  }

  &__data {
    display: flex;
    align-items: center;

    &-img {
      width: 88px;
      height: 88px;
      overflow: hidden;
      margin-right: 25px;
      flex: 0 0 auto;
    }

    &-text {
      > h4 {
        font-family: $font-secondary;
        font-size: 24px;
        font-weight: normal;
        color: $brown-light;
      }
      
      > span {
        font-size: 14px;
        letter-spacing: 1px;
        display: block;
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;
    padding-left: 15px;

    button {
      display: flex;
      padding: 0 4px;

      &:hover {
        svg {
          fill: darken($yellow, 7.5%);
        }
      }

      svg {
        width: 24px;
        height: 30px;
        fill: $yellow;
        transition: all 200ms ease;
        @extend %btn;
      }
    }
  }

  &__detail {
    display: none;
    padding: 20px 32px;
    background-color: lighten($brown-extralight, 3%);

    > p {
      letter-spacing: 0.5px;
      margin-bottom: 1.5em;
    }

    .form {
      margin-top: 0;

      .field-wrapper {
        &--simple {
          > label {
            font-size: 16px;
          }

          > .input {
            input {
              font-size: 14px;
            }
          }
        }
      }

      .field-action {
        margin-top: 30px;
      }
    }

    .radio-group--full {
      .radio {
        > label {
          padding: 12px 15px !important;
        }

        &__text {
          h6,
          p {
            font-size: 14px;
            line-height: 1.2;
          }
        }

        &__icon {
          right: 15px;
        }
      }   
    }
  }
}