/* ===========================
	 PANEL / TABS
	 =========================== */

.panel-box {
	&__header {
		margin-bottom: 20px;

		.subtitle-xs {
			h5 {
				color: lighten($gray-dark, 15%);
			}
		}
	}

	&__content {
		li {
			+ li {
				margin-top: 4px;
			}
		}
		a {
			font-size: 18px;
			font-weight: normal;
			padding: 4px 0;
			color: lighten($gray-dark, 15%);
			display: block;

			&.is-active {
				font-weight: bold;
			}
		}
	}
} 