.social {
  ul {
    display: flex;

    li {
      + li {
        margin-left: 18px;
      }
    }

    a {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 22px;
        height: 22px;
        fill: $yellow-dark;
      }
    }
  }

  @include mq('tablet', max) {
    ul {
      li {
        + li {
          margin-left: 15px;
        }
      }

      a {
        width: 30px;
        height: 30px;
        background-color: $gray;

        svg {
          width: 15px;
          height: 15px;
          fill: $white;
        }
      }
    }
  }
}