.team {
	display: flex;
	flex-direction: column;

	&-members {
		display: flex;
		justify-content: center;
		margin-top: 55px;
		order: 2;
	}

	.members {
		display: flex;
		justify-content: center;
		width: 690px;
		max-width: 100%;
		margin-left: -15px;
		margin-right: -15px;

		&__item {
			padding-left: 15px;
			padding-right: 15px;
			width: 33.333%;

			&:hover {
				.members__item-img {
					img {
						filter: sepia(1);
					}
				}

				.members__item-text {
					opacity: 1;

					h6 {
						color: $yellow;
					}
				}
			}

			&.is-active {
				z-index: 1;

				.members__item-img {
					img {
						filter: grayscale(0);
					}
				}

				.members__item-text {
					opacity: 1;

					h6 {
						color: $gray-dark;
					}
				}
			}
	
			&-img {
				overflow: hidden;
				border-radius: 50%;
				position: relative;
				width: 140px;
				height: 140px;
				transition: all 200ms ease;
				@extend %center-block;
	
				img {
					width: 100%;
					height: 100%;
					border-radius: 50%;
					position: absolute;
					filter: grayscale(1);
					transition: all 250ms ease;
					@extend %center-block;
					@include center-elm(true, true);				
				}
			}
	
			&-text {
				text-align: center;
				padding: 20px 0 0;
				opacity: 0;
				transition: all 200ms ease;
	
				h6 {
					font-size: 16px;
					font-weight: normal;
					line-height: 1;
					margin-bottom: .25em;
					transition: all 200ms ease;
				}
				
				span {
					font-size: 14px;
					transition: all 200ms ease;
				}
			}
		}
	}

	@include mq('tablet', max) {
		// padding-bottom: 0;
		&-members {
			margin-top: 40px;
		}

		.members {
			&__item {
				&.is-active {
					.members__item-img {
						transform: scale(1.35);
					}
				}
	
				&-img {
					width: 80px;
					height: 80px;
				}
	
				&-text {
					width: calc(100% + 30px);
					margin-left: -15px;
					text-align: center;
	
					h6 {
						font-family: $font-secondary;
						font-size: 14px;
					}
				}
			}
		}

	}

	@include mq('phablet', max) {
		.members {
			margin-left: -8px;
			margin-right: -8px;

			&__item {
				padding-left: 8px;
				padding-right: 8px;
				
				&-img {
					width: 60px;
					height: 60px;
				}
			}
		}
	}
}