.testimony {
	&__text {
		padding: 22px 30px 22px 110px;
		background: $brown-extralight url('../images/icons/quote.png') left 40px top 22px/40px 37px no-repeat;
		position: relative;
		margin-bottom: 40px;
		border-radius: 5px;

		p {
			font-size: 18px;
			font-weight: normal;
			color: $gray-dark;
		}

		&::after {
			content: '';
			position: absolute;
			border-width: 15px 25px;
			border-style: solid;
			border-color: $brown-extralight $transparent $transparent $brown-extralight;
			border-radius: 4px;
			top: calc(100% - 5px);
			left: 50%;
		}
	}

	&__carousel {
		margin-bottom: 75px;
	}

	&__item {
		figure {
			justify-content: center;

			img {
				width: 75px !important;
				height: 75px;
				margin-right: 10px;
			}

			figcaption {
				h4 {
					font-size: 20px;
					font-weight: 500;
					font-style: italic;
				}

				span {
					font-size: 14px;
					font-weight: 300;
				}
			}
		}
	}

	@include mq('tablet', max) {
		.section-header {
			margin-bottom: 22px;
		}

		&__text {
			background: initial;
			background-color: $brown-extralight;
			padding: 17px 20px;

			p {
				font-size: 14px;
			}
		}

		figure {
			figcaption {
				text-align: left;
			}
		}

		&__carousel {
			margin-bottom: 50px;
		}

		.btn {
			display: block;
		}
	}
}