%title-style {
	font-family: $font-secondary;
	font-weight: normal;
	line-height: normal;
	// padding: 20px 0;
}

.title {
	h1,
	h2,
	h3,
	h4,
	h5 {
		font-size: 50px;
		margin-bottom: .25em;
		@extend %title-style;

		> span {
			font-size: 20px;
			display: block;
		}
	}

	@include mq('tablet-wide', max) {,
		h1, h2, h3, h4, h5 {
			font-size: 35px;
		}
	}

	@include mq('tablet', max) {
		h1, h2, h3, h4, h5 {
			font-size: 28px;
			margin-bottom: .9em;
		}
	}

	@include mq('phablet', max) {
		h1, h2, h3, h4, h5 {
			font-size: 20px;
		}
	}
}

.subtitle {
	h1,
	h2,
	h3,
	h4,
	h5 {
		font-size: 40px;
		line-height: 1.2;
		margin-bottom: .5em;
		@extend %title-style;
	}

	@include mq('tablet-wide', max) {,
		h1, h2, h3, h4, h5 {
			font-size: 30px;
		}
	}

	@include mq('tablet', max) {
		h1, h2, h3, h4, h5 {
			font-size: 25px;
			margin-bottom: .9em;
		}
	}

	@include mq('phablet', max) {
		h1, h2, h3, h4, h5 {
			font-size: 18px;
		}
	}
}

.subtitle-sm {
	h1,
	h2,
	h3,
	h4,
	h5 {
		font-size: 30px;
		line-height: 1.2;
		margin-bottom: .5em;
		@extend %title-style;
	}

	@include mq('tablet-wide', max) {,
		h1, h2, h3, h4, h5 {
			font-size: 25px;
		}
	}

	@include mq('tablet', max) {
		h1, h2, h3, h4, h5 {
			font-size: 22px;
			margin-bottom: .9em;
		}
	}

	@include mq('phablet', max) {
		h1, h2, h3, h4, h5 {
			font-size: 17px;
		}
	}
}

.subtitle-xs {
	h1,
	h2,
	h3,
	h4,
	h5 {
		font-size: 24px;
		line-height: 1.2;
		margin-bottom: .5em;
		@extend %title-style;
	}
}

.subtitle-common {
	h1,
	h2,
	h3,
	h4,
	h5 {
		font-size: 16px;
		line-height: 1.2;
		margin-bottom: .5em;
		@extend %title-style;
	}
}

