.o-full-image {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	> div {
		display: flex;
		align-items: center;
		position: relative;
		height: 100%;
	}

	&--a-center {
		> div {
			justify-content: center;
		}
	}

	&--a-right {
		> div {
			justify-content: flex-end;
		}
	}

	@include mq('tablet-wide', max) {
		> div {
			align-items: flex-end;
			justify-content: flex-end;
		}
	}

	@include mq('tablet', max) {
		height: initial !important;
		padding: 90px 0;

		&::after {
			background-color: rgba($black, .5);
		}

		> div {
			align-items: center;
			justify-content: center;
		}
	}

	@include mq('phablet', max) {
		padding: 40px 0;
	}
}