extends ../templates/base-structure

block config
	- var title = 'BARKER - Registro' //- título de página

block main
	main.main.account.is-register
		.container-fluid
			.row
				.col-12.col-lg-5.account__main
					.account__main-wrap
						.account__logo
							a(href="./"): svg: use(xlink:href="./images/sprite.svg#barker")
						
						.account__message.subtitle-xs
							h5 Bienvenido
						
						.account__options
							a.is-active.js-btn-form-type(href="" data-form="form-register") Registro
							a.js-btn-form-type(href="" data-form="form-login") Iniciar sesión

						.account__form-type.js-account-form-type
							.account__form#form-register
								p Para poder registrarte rellena el formulario con tus datos. 
								form.form(action="" method="post")
									.field-wrapper
										input(type="text" name="rg-name" id="rg-name" placeholder="Nombre" autocomplete="off")
									.field-wrapper
										input(type="text" name="rg-phone" id="rg-phone" placeholder="Celular" autocomplete="off")
									.field-wrapper
										input(type="text" name="rg-email" id="rg-email" placeholder="Correo electrónico" autocomplete="off")
									.field-wrapper
										input(type="password" name="rg-password" id="rg-password" placeholder="Contraseña" autocomplete="off")
									.field-action
										button.btn.btn--primary.btn--block(type="submit") Registrarme

							.account__form#form-login(style="display:none;")
								p Ingresa poniendo tu nombre y contraseña.
								form.form(action="" method="post")
									.field-wrapper
										input(type="text" name="lg-name" id="lg-name" placeholder="Nombre" autocomplete="off")
									.field-wrapper
										input(type="password" name="lg-password" id="lg-password" placeholder="Contraseña" autocomplete="off")
									.field-action
										button.btn.btn--primary.btn--block(type="submit") Iniciar sesión
										p.account__call-reset.u-text-center
											a.js-btn-form-type(href="" data-form="form-reset") Olvide mi contraseña

							.account__form#form-reset(style="display:none;")
								p Ingresa tu nombre para poder ayudarte.
								form.form(action="" method="post")
									.field-wrapper
										input(type="text" name="rs-user-name" id="rs-user-name" placeholder="Nombre" autocomplete="off")
									.field-action
										button.btn.btn--primary.btn--block(type="submit") Enviar
										p.account__call-reset.u-text-center
											a.js-btn-form-type(href="" data-form="form-login") Me acordé mi contraseña

						.account__register-options
							h5 También puedes registrarte con:
							.account__register-option.google
								a(href="") Ingresa con Google
							.account__register-option.facebook
								a(href="") Ingresa con Facebook

				.col-lg-7.account__bg.u-padding--lv0.u-hidden-tablet-wide
					.account__bg-image
						