extends ../templates/base-structure

block config
	- var title = 'BARKER'

block main
	- var current = ''
	- var classVisible = false

	include ../templates/header
	
	section.intro
		.owl-carousel.intro__carousel.js-banner-home-carousel
			.item(style="background-image: url('./images/home/banner-desktop-1.jpg')")
			.item(style="background-image: url('./images/home/banner-desktop-2.jpg')")
			.item(style="background-image: url('./images/home/banner-desktop-3.jpg')")
		.intro__wrap
			.container.u-full-height
				.row.justify-content-center.u-full-height
					.intro__content.col-lg-10
						.intro__text.u-text-center
							.subtitle
								h1 LO QUE TU MASCOTA ELEGIRÍA
								p Barker significa disfrutar de la mejor versión de nuestras mascotas.

						.intro__action
							.intro__action-links.u-flex.justify-content-between
								.intro__action-item
									a.btn.btn--primary.btn--block(href="suscripcion.html") Barker por una semana
								.intro__action-item
									a.btn.btn--primary.btn--block(href="suscripcion.html") Diseña tu pedido
							.intro__action-nav.u-text-center
								.intro__action-button
									span.text Conoce el producto
									button.icon.js-btn-godown(type="button"): svg: use(xlink:href="./images/sprite.svg#arrow-down")

	main.main.page-main
		// 	QUÉ ES BARKER
		section.section.what-is
			.container
				.row.align-items-center.u-text-justify
					.title.col.u-visible-tablet-wide
						h2 ¿Qué es Barker?
					.col-lg-7.order-1.what-is__text
						.title.u-hidden-tablet-wide: h2 ¿Qué es Barker?
						p Barker significa disfrutar de la mejor versión de nuestras mascotas y empieza con nuestra comida. Barker nace de la tendencia BARF (Biologically Appropiate Raw Food) proponiendo una formula balanceada y responsable que se adapta al estilo de vida de un perro hoy en día. Nuestra comida está basada en proteína cruda, vegetales y vitaminas.
						p Nuestro mix está formulado bajo los parámetros de AAFCO (The Association of American Feed Control Officials) y respaldada por Giovanna Rosadio, zootecnista profesional con más de 15 años de experiencia en alimentación para mascotas. Además, Erik Valdivia Segura es el responsable técnico de Barker. Para garantizar nuestra calidad, contamos con certificado de SENASA.
					.what-is__img.col-lg-5.order-lg-1#scene
						.what-is__food.food
							.food__item.food__item--insumos
							.food__item.food__item--preparada.js-slide-toggle

		// INGREDIENTES
		section.section.section--big.ingredients.u-hidden-tablet
			.container
				.title.u-text-center
					h2 Ingredientes

				article.ingredients__featured
					.row.align-items-center.u-text-justify
						.col-lg-6.order-lg-2
							img(src="./images/nosotros/comida/comida-insumos.png", alt="")
						.col-lg-6.order-lg-1
							.subtitle
								h4 Insumos frescos de#[br]Grado Humano:
							p Los insumos utilizados para la formulación de Barker® son de grado de consumo humano, seleccionados con altos estándares de calidad y cada lote es aprobado con rigurosos análisis.

				article.ingredients__featured
					.row.align-items-center.u-text-justify
						.col-lg-6
							img(src="./images/ingredientes/balance-nutricional.png", alt="")
						.col-lg-6
							.subtitle
								h4 Balance Nutricional
							p Barker® está diseñado para cubrir responsablemente, todos los requerimientos nutricionales y el importante balance entre ellos:

							p Desde el importante nivel de Energía, los específicos niveles de aminoácidos y calidad de proteína, pasando por los niveles de fibras solubles, importantes para las movilizaciones peristálticas y el buen funcionamiento gastrointestinal así como las importantes vitaminas y minerales.
						
		section.section.benefits.u-hidden-tablet
			.container
				.row.justify-content-center.u-text-center
					.col-lg-8
						.subtitle.u-text-center
							h2 Beneficios de los ingredientes
						-
							var benefits = [
								{ name: 'Prebióticos', image: 'prebioticos', text: 'Importantes para alimentar la flora microbiana benéfica, estimulando así el Sistema Inmune de la mascota.' },
								{ name: 'Fuentes de Almidón de alta digestibilidad', image: 'fuentes-de-almidon', text: 'Fuente de almidón importante para abastecer de energía inmediata; importante para las actividades fisiológicas de mantenimiento y de ejercicios de la mascota.' },
								{ name: 'Verduras frescas', image: 'verduras-frescas', text: 'Importante fuente de vitaminas y fibra solubles; Las vitaminas son cofactores importantes para las reacciones que ocurren en el proceso digestivo.' },
								{ name: 'Las fibras solubles', image: 'fibras-solubles', text: 'Mantienen la salud intestinal y por lo tanto la eficiente asimilación de los nutrientes.' },
								{ name: 'Proteína fresca', image: 'proteina-fresca', text: 'Porciones de Pollo, carne y pavo fresco, de grado de consumo humano que con el tamaño de molienda que permiten aprovechar y asimilar sus nutrientes.' }
							]
						.benefits__main
							ul.benefits__list.js-benefit-items
								each b, index in benefits
									li.benefits__item(data-tab=`${index+1}` class=`${index+1 == 1 ? 'is-active' : ''}`)
										figure
											img(src=`./images/ingredientes/beneficios/${b.image}-color.png`, alt="")
							.benefits__text
								.owl-carousel.js-benefit-carousel
									each b in benefits
										.item
											.subtitle-sm: h4= b.name
											p= b.text

				p.u-text-center
					a.btn.btn--primary(href="") Diseña tu pedido

		// COMO FUNCIONA
		section.section.section--highlight.u-hidden-tablet
			.container
				.section-header
					.title.u-text-center
						h2 ¿Cómo funciona?
				
				.row.row.u-mb--lv5
					-
						var steps = [ 
							{ image: 'step-1.png', title: 'Paso 1', text: 'Acércate al punto de venta más cercano o suscríbete por acá para recibir tu barker'},
							{ image: 'step-2.png', title: 'Paso 2', text: 'Mantén tu producto congelado y descongela la porción diaria antes de servirla'},
							{ image: 'step-3.png', title: 'Paso 3', text: '¡Observa la felicidad de tu perro!'}
						]

					each s in steps
						.col-lg-4.card-simple
							figure.card-simple__image
								img(src=`./images/como-funciona/${s.image}`, alt="")
							h3.card-simple__title #{s.title}
							p #{s.text}

				.row
					.col-lg-12.u-text-center
						p.u-mtb--lv5
							span.text-black ¿Cuántas hamburguesas barker debes darle a tu perro?
							a.link.js-hamburguer-popup(href="") ¡Acá la respuesta!
		
		// NOSOTROS
		section.section.aboutus
			.container
				.row.justify-content-center.u-text-center
					.col-lg-10
						.title.u-text-center
							h3 Nosotros
						.team.tab
							.team-members.js-tabs.hover
								ul.members.tab__items
									li.members__item(data-tab="1")
										figure.members__item-img
											img(src="./images/nosotros/team/juca-color.jpg", alt="")
										.members__item-text
											h6 Juan Carlos Barreto
									li.members__item(data-tab="2")
										figure.members__item-img
											img(src="./images/nosotros/team/giulia-color.jpg", alt="")
										.members__item-text
											h6 Giulia Albertini
									li.members__item(data-tab="3")
										figure.members__item-img
											img(src="./images/nosotros/team/alessia-color.jpg", alt="")
										.members__item-text
											h6 Alessia Albertini
									li.members__item(data-tab="4")
											figure.members__item-img
												img(src="./images/nosotros/team/erik-color.jpg", alt="")
											.members__item-text
												h6 Erik Valdivia
							.tab__content
								#1.tab__content-item
									p "Hace un año estaba en una feria en China por trabajo y vi algo que me llamó mucho la atención, una congeladora brandeada con perros. Ahí dije: ¿Qué tiene que ver una congeladora con un perro? Me puse a averiguar un poco más y descubrí sobre esta nueva tendencia de comida natural. No lograba entender por qué siendo yo alguien que cuida mucho a sus perros nunca había escuchado de esto en Perú y decidí no solo dedicarme a crear una marca completamente consciente sino asegurarme que ahora sí, todos sepan que existe esta alternativa responsable"
								#2.tab__content-item
									p “Mis perros pueden alegrarme el día con solo recibirme. Yo siempre intentaba alegrarles el día a la hora de comer pero nunca era efectivo. Me entró la curiosidad de averiguar que comen y por qué y fue ahí donde decidí que Barker tenía que nacer. Hoy somos super conscientes de lo importante que es alimentarnos bien y no debemos dejar de lado a nuestras mascotas que dedican sus días a hacernos felices. Hay que disfrutar la mejor versión de ellos y darles una increíble calidad de vida. Barker es mucho más que una marca, es un estilo de vida, y para mí, es una pasión”
								#3.tab__content-item
									p “Siempre he tenido un interés particular por entender los procesos y el origen de todo, es una de las razones por las que decidí estudiar ingeniería industrial. Al tener tres perros en mi casa me interesé por ver documentales de su cuidado y alimentación y fue ahí que me encontré con Petfooled (¡recomendado!). El documental me abrió los ojos a entender que es muy importante la calidad de comida que reciben nuestras mascotas y así decidí poner mis propias ideas en marcha y armar un producto de altísima calidad y que además contará con un proceso completamente transparente y fluido.”
								#4.tab__content-item
										p "Yo como médico veterinario, siempre me preocupo por el bienestar de las mascotas y cuando conocí la nueva tendencia de alimento BARF me intrigó mucho saber más. Me di cuenta que era lo mejor para ellos, fresco y natural, y además que a los perros les encanta. Encontré en Barker una marca confiable y responsable y decidí ser parte del proyecto."

		// TESTIMONIOS
		section.section.testimony
			.container
				.section-header
					.title.u-text-center
						h2 Testimonios y experiencias Barker
					
				.row.justify-content-center
					.col-lg-8
						.testimony__carousel
							.owl-carousel.js-testimony-carousel
									.testimony__item
										.testimony__text
											p Lunita es muy especial para comer.. probamos varias marcas pero ninguna le gustaba hasta que probó BARKER y fue la solución!!! Súper recomendable!
										figure.u-flex
											img(src="./images/testimonios/mariella-luna.png", alt="")
											figcaption
												h4 Mariella & Luna
												//- span Miraflores

									.testimony__item
										.testimony__text
											p Producto altamente recomendable, desde el interés a la hora de comerlo, pasando por no estar hambriento todo el día, mantenerse en su peso y digestión perfecta; creo que mejor combinación no puede haber! Barriga llena, corazón contento: dueño satisfecho!
										figure.u-flex
											img(src="./images/testimonios/gianmarco-peter.png", alt="")
											figcaption
												h4 Gianmarco & Peter

									.testimony__item
										.testimony__text
											p Nico nunca queria comer su comida. Siempre le servíamos el plato y él tranquilamente podia pasar horas sin comer. Nosotros (junto con los veterinarios) pensábamos que simplemente no le daba hambre, pero apenas Nico probó Barker, nos demostró todo lo contrario! Le encantó el sabor y ahora se devora el plato en 1 segundo!! Nunca lo había visto tan feliz y esperar con tantas ansias su hora de comida, lo recomiendo a ojos cerrados!
										figure.u-flex
											img(src="./images/testimonios/lucia-nico.png", alt="")
											figcaption
												h4 Lucia & Nico

									.testimony__item
										.testimony__text
											p Nunca había visto a Theo tan feliz por comer su comida! Theito puede pasarse días sin tocar su comida y la única alternativa para que coma es cocinándole algo o dándole nuestra comida. Apenas probó Barker le encantó, se devoró su plato en segundos y cuando se dio cuenta que guardábamos su comida en la refrigeradora, le lloraba para que le dieramos más... INCREÍBLE! Super recomendable porque no solo les encanta, sino también es sano para ellos.
										figure.u-flex
											img(src="./images/testimonios/ale-theo.png", alt="")
											figcaption
												h4 Ale & Theo

									.testimony__item
										.testimony__text
											p Yo recomiendo BARKER como alimento para los perros ya que como experiencia personal ayudo mucho a mi perro (Kira) que estaba pasando por un momento en el que estaba deprimida y no comía, poniendo su salud en peligro. Cuando le di a probar BARKER fue al instante que comenzó a comer  y con el tiempo se noto un cambio de ánimo y aspectos físicos como su pelo y contextura.
										figure.u-flex
											img(src="./images/testimonios/lu-kira.png", alt="")
											figcaption
												h4 Lu & Kira

				p.u-text-center
					a.btn.btn--primary(href="nosotros.html") Conoce más de Barker
				p.u-text-center.u-visible-tablet
					a.btn.btn--primary(href="") Diseña tu pedido

	include ../templates/footer