extends ../templates/base-structure

block config
	- var title = 'Barker - ingredientes' //- title page

block main
	- var current = 'Conócenos'
	- var classVisible = false

	include ../templates/header

	nav.nav-secondary
		.nav-secondary__content
			.container.u-flex
				a(href="nosotros.html") Nosotros
				a.is-active(href="ingredientes.html") Ingredientes
				a(href="como-funciona.html") Cómo funciona
				a(href="faq.html") Preguntas frecuentes
	
	.page-wrap
		main.main
			.page-name
				h2 Ingredientes

			section.section.section--big.ingredients
				.container
					.title.u-text-center
						h2 Ingredientes
					
					article.ingredients__featured
						.row.align-items-center.u-text-justify
							.col-lg-6.order-lg-2
								img(src="./images/nosotros/comida/comida-insumos.png", alt="")
							.col-lg-6.order-lg-1
								.subtitle
									h4 Insumos frescos de#[br]Grado Humano:
								p Los insumos utilizados para la formulación de Barker® son de grado de consumo humano, seleccionados con altos estándares de calidad y cada lote es aprobado con rigurosos análisis.

					article.ingredients__featured
						.row.align-items-center.u-text-justify
							.col-lg-6
								img(src="./images/ingredientes/balance-nutricional.png", alt="")
							.col-lg-6
								.subtitle
									h4 Balance Nutricional
								p Barker® está diseñado para cubrir responsablemente, todos los requerimientos nutricionales y el importante balance entre ellos:

								p Desde el importante nivel de Energía, los específicos niveles de aminoácidos y calidad de proteína, pasando por los niveles de fibras solubles, importantes para las movilizaciones peristálticas y el buen funcionamiento gastrointestinal así como las importantes vitaminas y minerales.
							
			section.section.benefits
				.container
					.row.justify-content-center.u-text-center
						.col-lg-8
							.subtitle.u-text-center
								h2 Beneficios de los ingredientes

							-
								var benefits = [
									{ name: 'Prebióticos', image: 'prebioticos', text: 'Importantes para alimentar la flora microbiana benéfica, estimulando así el Sistema Inmune de la mascota.' },
									{ name: 'Fuentes de Almidón de alta digestibilidad', image: 'fuentes-de-almidon', text: 'Fuente de almidón importante para abastecer de energía inmediata; importante para las actividades fisiológicas de mantenimiento y de ejercicios de la mascota.' },
									{ name: 'Verduras frescas', image: 'verduras-frescas', text: 'Importante fuente de vitaminas y fibra solubles; Las vitaminas son cofactores importantes para las reacciones que ocurren en el proceso digestivo.' },
									{ name: 'Las fibras solubles', image: 'fibras-solubles', text: 'Mantienen la salud intestinal y por lo tanto la eficiente asimilación de los nutrientes.' },
									{ name: 'Proteína fresca', image: 'proteina-fresca', text: 'Porciones de Pollo, carne y pavo fresco, de grado de consumo humano que con el tamaño de molienda que permiten aprovechar y asimilar sus nutrientes.' }
								]
							.benefits__main
								ul.benefits__list.js-benefit-items
									each b, index in benefits
										li.benefits__item(data-tab=`${index+1}` class=`${index+1 == 1 ? 'is-active' : ''}`)
											figure
												img(src=`./images/ingredientes/beneficios/${b.image}-color.png`, alt="")
								.benefits__text
									.owl-carousel.js-benefit-carousel
										each b in benefits
											.item
												.subtitle-sm: h4= b.name
												p= b.text

					p.u-text-center
						a.btn.btn--primary(href="pedidos.html") Diseña tu pedido
	
	include ../templates/footer