extends ../templates/base-structure

block config
	- var title = 'BARKER - Nosotros' //- title page

block main
	- var current = 'Conócenos'
	- var classVisible = false

	include ../templates/header

	nav.nav-secondary
		.nav-secondary__content
			.container.u-flex
				a.is-active(href="nosotros.html") Nosotros
				a(href="ingredientes.html") Ingredientes
				a(href="como-funciona.html") Cómo funciona
				a(href="faq.html") Preguntas frecuentes
	
	.page-wrap
		main.main
			.page-name
				h2 Acerca de Barker

			section.section.what-is
				.container
					// Que es Barker
					.row.align-items-center.u-text-justify
						.title.col.u-visible-tablet-wide
							h2 ¿Qué es Barker?
						.col-lg-7.order-1.what-is__text
							.title.u-hidden-tablet-wide: h2 ¿Qué es Barker?
							p Barker significa disfrutar de la mejor versión de nuestras mascotas y empieza con nuestra comida. Barker nace de la tendencia BARF (Biologically Appropiate Raw Food) proponiendo una formula balanceada y responsable que se adapta al estilo de vida de un perro hoy en día. Nuestra comida está basada en proteína cruda, vegetales y vitaminas.
							p Nuestro mix está formulado bajo los parámetros de AAFCO (The Association of American Feed Control Officials) y respaldada por Giovanna Rosadio, zootecnista profesional con más de 15 años de experiencia en alimentación para mascotas. Además, Erik Valdivia Segura es el responsable técnico de Barker. Para garantizar nuestra calidad, contamos con certificado de SENASA.
						.what-is__img.col-lg-5.order-lg-1#scene
							.what-is__food.food
								.food__item.food__item--insumos
								.food__item.food__item--preparada.js-slide-toggle
					// /Ends Que es Barker

			section.section.aboutus
				.container
					.row.justify-content-center.u-text-center
						.col-lg-10
							.title.u-text-center
								h3 Nosotros
							
							.team.tab
								.team-members.js-tabs.hover
									ul.members.tab__items
										li.members__item(data-tab="1")
											figure.members__item-img
												img(src="./images/nosotros/team/juca-color.jpg", alt="")
											.members__item-text
												h6 Juan Carlos Barreto
										li.members__item(data-tab="2")
											figure.members__item-img
												img(src="./images/nosotros/team/giulia-color.jpg", alt="")
											.members__item-text
												h6 Giulia Albertini
										li.members__item(data-tab="3")
											figure.members__item-img
												img(src="./images/nosotros/team/alessia-color.jpg", alt="")
											.members__item-text
												h6 Alessia Albertini
										li.members__item(data-tab="4")
												figure.members__item-img
													img(src="./images/nosotros/team/erik-color.jpg", alt="")
												.members__item-text
													h6 Erik Valdivia
								.tab__content
									#1.tab__content-item
										p "Hace un año estaba en una feria en China por trabajo y vi algo que me llamó mucho la atención, una congeladora brandeada con perros. Ahí dije: ¿Qué tiene que ver una congeladora con un perro? Me puse a averiguar un poco más y descubrí sobre esta nueva tendencia de comida natural. No lograba entender por qué siendo yo alguien que cuida mucho a sus perros nunca había escuchado de esto en Perú y decidí no solo dedicarme a crear una marca completamente consciente sino asegurarme que ahora sí, todos sepan que existe esta alternativa responsable"
									#2.tab__content-item
										p “Mis perros pueden alegrarme el día con solo recibirme. Yo siempre intentaba alegrarles el día a la hora de comer pero nunca era efectivo. Me entró la curiosidad de averiguar que comen y por qué y fue ahí donde decidí que Barker tenía que nacer. Hoy somos super conscientes de lo importante que es alimentarnos bien y no debemos dejar de lado a nuestras mascotas que dedican sus días a hacernos felices. Hay que disfrutar la mejor versión de ellos y darles una increíble calidad de vida. Barker es mucho más que una marca, es un estilo de vida, y para mí, es una pasión”
									#3.tab__content-item
										p “Siempre he tenido un interés particular por entender los procesos y el origen de todo, es una de las razones por las que decidí estudiar ingeniería industrial. Al tener tres perros en mi casa me interesé por ver documentales de su cuidado y alimentación y fue ahí que me encontré con Petfooled (¡recomendado!). El documental me abrió los ojos a entender que es muy importante la calidad de comida que reciben nuestras mascotas y así decidí poner mis propias ideas en marcha y armar un producto de altísima calidad y que además contará con un proceso completamente transparente y fluido.”
									#4.tab__content-item
										p "Yo como médico veterinario, siempre me preocupo por el bienestar de las mascotas y cuando conocí la nueva tendencia de alimento BARF me intrigó mucho saber más. Me di cuenta que era lo mejor para ellos, fresco y natural, y además que a los perros les encanta. Encontré en Barker una marca confiable y responsable y decidí ser parte del proyecto."
							
							p.u-text-center
								a.btn.btn--primary(href="pedidos.html") Diseña tu pedido

	include ../templates/footer