extends ../templates/base-structure

block config
	- var title = 'BARKER - Preguntas frecuentes' //- título de página

block main
	- var current = 'Conócenos'
	- var classVisible = false

	include ../templates/header
	
	.page-wrap
		main.main
			.page-name
				h2 Pedidos

			section.section.faq
				.container
					.row.justify-content-center
						.col-lg-10
							.section-header
								.title.u-text-center
									h2 Revisa tus pedidos
								p.u-text-center Type something Type something texto falso, es la muestra del texto falso, la del texto falso es un lorem ipsum la del texto falso es un lorem ipsum

					.tab.row
						.faq__categories.tabs-nav.col-lg-2.js-tabs
							.subtitle-xs: h5 Pedidos
							ul
								li(data-tab="1"): span Suscritos
								li(data-tab="2"): span Finalizados
						
						.tab__content.col-lg-10
							#1.tab__content-item
								.orders-current
									.row
										- for (var i = 1; i<= 1; i++) {
											.order-short.col-md-6(data-order-id="")
												.order-short__box
													.order-short__data
														figure.order-short__data-img: img(src="./images/avatar-dog.png", alt="")
														div.order-short__data-text
															h4 Caja de #[span Messi]
															span Creada el 24/10/17
													.order-short__action
														button(title="Eliminar pedido"): svg: use(xlink:href="./images/sprite.svg#trash")
												.order-short__detail
													p #[strong Luli] necesitaba 150 calorías diarias.
													form.form(action="" method="post")
														.field-wrapper.field-wrapper--simple
															label Estado de suscripción
															.switch
																label.switch__element
																	input(type="checkbox" name="f-suscription-status" id="f-suscription-status" checked)
																	span.switch__slider
																p.switch__result Renovación automática.

														.field-wrapper.field-wrapper--simple
															label Horario de entrega
															.radio-group.radio-group--square
																.radio
																	input(type="radio" name="f-delivery-time" id="f-morning" value="Macho")
																	label(for="f-morning") Día #[span de 9am a 1pm]
																.radio
																	input(type="radio" name="f-delivery-time" id="f-afternoon" value="Hembra")
																	label(for="f-afternoon") Tarde #[span de 2am a 6pm]

														.field-wrapper.field-wrapper--simple
															label(for="cost") Horario de entrega
															.input
																input(type="text" name="f-cost" id="f-cost" value="S/ 150.00 Mensual" disabled)

														.field-action
															button.btn.btn--primary(type="submit") Guardar cambios

										- }
							
							#2.tab__content-item
								ul.accordion.js-accordion
									li.panel
										a.panel__header
											span.title 1.	¿Con qué canales de venta cuenta BARKER?
											span.action
												svg: use(xlink:href="./images/sprite.svg#arrow-down")
										.panel__content
											p BARKER se venderá en dos canales de venta distintos: en veterinarias o a través de la página web con suscripción.
											p Veterinarias: BARKER está presente en veterinarias de distintos distritos de Lima. Para saber la veterinaria más cercana, puedes entrar a “puntos de venta”
											p Si quieres que te llegue Barker semanalmente, puedes entrar a “diseña tu pedido” o “suscripción” y personalizar el pedido eligiendo el sabor, el plan (mensual, trimestral, semestral o anual) y la dirección a donde se desea recibir el producto.

	include ../templates/footer