// FOOTER 
footer.site-footer.u-hidden-tablet
	.container
		.site-footer__header
			span.u-flex: svg: use(xlink:href="./images/sprite.svg#barker")
		.row
			.col-lg-4
				h6.site-footer__title MAPA DE SITIO
				ul.site-footer__links
					li: a(href="nosotros.html") Nosotros
					li: a(href="como-funciona.html") Como funciona
					li: a(href="sabores.html") Productos
					li: a(href="suscripcion.html") Suscripción
					li: a(href="faq.html") Preguntas frecuentes

			.col-lg-4
				h6.site-footer__title CONTACTO
				ul.site-footer__links
					li
						a(href="")
							span.icon: svg: use(xlink:href="./images/sprite.svg#email")
							| contacto@barker.pe
					li
						a(href="" target="_blank")
							span.icon: svg: use(xlink:href="./images/sprite.svg#instagram")
							| instagram
					li
						a(href="" target="_blank")
							span.icon: svg: use(xlink:href="./images/sprite.svg#facebook")
							| facebook
					li
						a(href="")
							span.icon: svg: use(xlink:href="./images/sprite.svg#phone")
							| 991750566
					//- li
					//- 	a(href="")
					//- 		span.icon: svg: use(xlink:href="./images/sprite.svg#whatsapp")
					//- 		| 945 345 566

			.col-lg-4
				h6.site-footer__title CONSEJOS, RECETAS Y TIPS PARA TU MASCOTA
				form(action="" method="post")
					.field-wrapper.subscribe
						input(type="text" name="email-subscribe" id="email-subscribe" placeholder="Ingresa tu correo")
						button.button.icon(type="submit") ENVIAR

// /ENDS FOOTER