mixin navLink(link, name)
	li
		a.site-nav__item(
			href=link
			class={'is-active': name === current, 'js-btn-barker-nav': name === 'Conócenos'}
		)
			span.text #{name}
		if block
			block

// HEADER
nav.site-nav.js-site-nav(class=`${classVisible ? 'site-nav--reverse' : ''}`)
	.container-fluid
		.u-flex.justify-content-between.align-items-center
			.site-nav__logo
				a.u-flex(href="./"): svg: use(xlink:href="./images/sprite.svg#barker")
			.site-nav__main.u-flex
				.site-nav__links
					.site-nav__close-menu.u-visible-tablet
					.site-nav__links-wrap
						ul
							+navLink('nosotros.html', 'Conócenos')
								.barker-menu
									.barker-menu__header
										button.js-btn-barker-nav
											span.icon: svg: use(xlink:href="./images/sprite.svg#back")
											span.text Volver
									.barker-menu__content
										ul.barker-menu__list
											li: a.site-nav__item(href="nosotros.html") Nosotros
											li: a.site-nav__item(href="ingredientes.html") Ingredientes
											li: a.site-nav__item(href="como-funciona.html") Como funciona
											li: a.site-nav__item(href="faq.html") Preguntas frecuentes
							+navLink('sabores.html', 'Sabores')
							+navLink('puntos-de-venta.html', 'Puntos de venta')
							+navLink('faq.html', 'Preguntas frecuentes')
							+navLink('suscripcion.html', 'Suscripción')
							+navLink('blog.html', 'Blog')

						.site-nav__aditional.u-visible-tablet
							ul.site-nav__aditional-data
								li
									span: svg: use(xlink:href="./images/sprite.svg#email")
									| contacto@barker.pe
								li
									span: svg: use(xlink:href="./images/sprite.svg#phone")
									| 991750566
								li
									span: svg: use(xlink:href="./images/sprite.svg#pin")
									| Gerona 225 - San Borja
							ul.site-nav__aditional-social
								li
									a(href=""): svg: use(xlink:href="./images/sprite.svg#whatsapp")
								li
									a(href=""): svg: use(xlink:href="./images/sprite.svg#facebook")
								li
									a(href=""): svg: use(xlink:href="./images/sprite.svg#instagram")
							ul.site-nav__aditional-plus
								li: a(href="") Términos
								li: a(href="") Privacidad

				.site-nav__actions.u-flex
					a.site-nav__item(href="pedidos.html")
						span.icon: svg: use(xlink:href="./images/sprite.svg#pedido")
						span.text.u-hidden-desktop Pedidos
					a.site-nav__item(href="cuenta.html")
						span.icon.u-visible-tablet: svg: use(xlink:href="./images/sprite.svg#user")
						span.text Iniciar sesión
					button.site-nav__item.navicon.js-btn-menu.u-visible-tablet
						span.icon
